@media screen and (min-width: 1200px){
    .error_section{
        position: relative;
        height: 100vh;
        overflow: hidden;
        background: url('../media/404_background.svg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    
    .error_container{
        padding-top: 100px;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    
    .error_text_404{
        font-size: 300px;
        font-family: 'Raleway-SemiBold';
    }
    
    .error_description{
        margin-top: 20px;
        width: 37%;
        text-align: center;
    }
    
    .error_return_button{
        background: -webkit-gradient(linear, right top, left top, from(#000), color-stop(200%, rgb(128, 126, 126)), to(#fff));
        background: -webkit-linear-gradient(right, #000 0%, rgb(128, 126, 126)200%, #fff 100%);
        background: -o-linear-gradient(right, #000 0%, rgb(128, 126, 126)200%, #fff 100%);
        background: linear-gradient(to left, #000 0%, rgb(128, 126, 126)200%, #fff 100%);
        z-index: 100;
        width: 250px;
        margin-top: 47px;
        border-radius: 25px;
        height: 45px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        border: 2px solid #86B82A;
        cursor: pointer;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        color: #fff;
    }
    
    .error_section *{
        z-index: 10;
    }
    
    .error_return_button:hover{
        -webkit-box-shadow: 0px 0px 10px rgb(128, 126, 126);
                box-shadow: 0px 0px 10px rgb(128, 126, 126);
    }
    
    .error_section_lines{
        position: absolute;
        z-index: 0;
        top: 20px;
        left: -11%;
        width: 3500px;
    }
    
    }
    
    @media screen and (max-width: 1200px){
        .error_section{
            position: relative;
            height: 100vh;
            overflow: hidden;
            background: url('../media/404_background.svg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        
        
        .error_container{
            padding-top: 100px;
            position: relative;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
        }
        
        .error_text_404{
            font-size: 50vw;
            font-family: 'Raleway-SemiBold';
        }
        
        .error_description{
            margin-top: 20px;
            width: 100%;
            text-align: center;
        }
        
        .error_return_button{
            background: -webkit-gradient(linear, right top, left top, from(#000), color-stop(200%, rgb(128, 126, 126)), to(#fff));
            background: -webkit-linear-gradient(right, #000 0%, rgb(128, 126, 126)200%, #fff 100%);
            background: -o-linear-gradient(right, #000 0%, rgb(128, 126, 126)200%, #fff 100%);
            background: linear-gradient(to left, #000 0%, rgb(128, 126, 126)200%, #fff 100%);
            z-index: 100;
            width: 250px;
            margin-top: 47px;
            border-radius: 25px;
            height: 45px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            border: 2px solid #86B82A;
            cursor: pointer;
            -webkit-transition: .3s;
            -o-transition: .3s;
            transition: .3s;
            color: #fff;
        }
        
        .error_section *{
            z-index: 10;
        }
        
        .error_return_button:hover{
            -webkit-box-shadow: 0px 0px 10px rgb(128, 126, 126);
                    box-shadow: 0px 0px 10px rgb(128, 126, 126);
        }
        
        .error_section_lines{
            display: none;
        }
        
        }