


.full_screen_picture_box img{
    max-width: 100%;
    max-height: 100%;
}

.full_screen_box_close{
    position: absolute;
    transition: .2s;
    cursor: pointer;
}

.full_screen_box_close img{
    width: 100%;
}

.full_screen_box_close:hover{
    transform: scale(1.1);
}


.full_screen_video_box{
    position: relative;
    max-width: 1200px;
    max-height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.full_screen_video_button{
    display: block;
    position: absolute;
    z-index: 10;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s;
    background: rgba(248, 248, 248, 0.5);
}

.full_screen_video_button:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 15px #86B82A;
}

.full_screen_video_button img{
    width: 30px;
    margin-left: 10px;
}

@media screen and (min-width: 960px){
    .full_screen_box_close{
        position: absolute;
        right: 20px;
        top: 110px;
        width: 100px;
    }
    .full_screen_picture_box{
        position: relative;
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    .full_screen_box{
        position: fixed;
        z-index: 20;
        width: 100vw;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(36, 35, 35, 0.8);
    }
    .full_screen_description_box{
        position: absolute;
        background: #85B726;
        width: 100%;
        height: 100%;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
    }
}

@media screen and (max-width: 960px){
    .full_screen_box_close{
        position: absolute;
        right: 10px;
        top: 80px;
        width: 80px;
    }
    .full_screen_picture_box{
        position: relative;
        max-width: 1200px;
        max-height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .full_screen_box{
        padding-top: 59.23px;
        position: fixed;
        z-index: 20;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(36, 35, 35, 0.8);
    }
    .full_screen_description_box{
        position: absolute;
        background: #85B726;
        width: 100%;
        height: 100%;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        opacity: 1;
    }
}